<div
    id="ngx-datatable"
    class="page-layout simple fullwidth"
    [@routerTransitionRight]
>
    <!-- HEADER -->
    <div
        class="header accent p-24"
        fxLayout="row"
        fxLayoutAlign="space-between center"
    >
        <h2>Plant Lists</h2>
        <button mat-raised-button (click)="openBottomSheet()">Add Plant</button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <ngx-datatable
            class="material"
            [rows]="rows"
            [columnMode]="'flex'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [limit]="4"
        >
            <ngx-datatable-column
                name="Plant Name"
                prop="plantName"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Primary Contact"
                prop="primaryContact"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Address"
                prop="address"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column name="Actoins" prop="id" [flexGrow]="1">
                <ng-template
                    let-row="row"
                    let-value="value"
                    ngx-datatable-cell-template
                >
                    <mat-icon (click)="openBottomSheet(value)">home</mat-icon>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
