<div id="ngx-datatable" class="page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
        <h2>Factory Lists</h2>
        <fuse-countdown eventDate="2020-12-12"></fuse-countdown>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">
        <ngx-datatable
            class="material fullscreen"
            [rows]="rows"
            [columnMode]="'flex'"
            [headerHeight]="48"
            [footerHeight]="56"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [reorderable]="reorderable"
            [limit]="4"
        >
            <ngx-datatable-column
                name="Factory Name"
                prop="factoryName"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Admin"
                prop="factoryAdmin"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Email"
                prop="email"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Plants"
                prop="plants"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Shopfloors"
                prop="shopfloors"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Lines"
                prop="lines"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Machines"
                prop="machines"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column
                name="Is Premium?"
                prop="isPremium"
                [flexGrow]="1"
            ></ngx-datatable-column>

            <ngx-datatable-column name="Actoins" prop="id" [flexGrow]="1">
                <ng-template
                    let-row="row"
                    let-value="value"
                    ngx-datatable-cell-template
                >
                    <mat-icon
                        aria-hidden="false"
                        aria-label="Example home icon"
                        (click)="openBottomSheet(value)"
                        >home</mat-icon
                    >
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
