<div class="page-layout simple tabbed">
    <!-- CONTENT -->
    <div class="content">
        <mat-tab-group mat-align-tabs="center" dynamicHeight="true">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mr-8">info</mat-icon>
                    Equipment Information
                </ng-template>
                <div class="p-24">
                    <app-equipment-information></app-equipment-information>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mr-8">settings</mat-icon>
                    Spare Information
                </ng-template>
                <div class="p-24">
                    <app-spare-information></app-spare-information>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="mr-8">cloud_upload</mat-icon>
                    File Upload
                </ng-template>
                <div class="p-24">
                    <app-file-upload></app-file-upload>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <!-- / CONTENT -->
</div>
