<div
    class="page-layout simple fullwidth p-24"
    fxLayout="row"
    fxLayoutAlign="center start"
>
    <form
        #form="ngForm"
        [formGroup]="addShopfloorForm"
        fxFlex.gt-xs="40%"
        fxFlex.xs="100%"
        fxLayout="column"
        (submit)="addShopfloor()"
    >
        <mat-form-field appearance="outline">
            <mat-label>Select Plant</mat-label>
            <mat-select formControlName="plantName" name="plant">
                <mat-option *ngFor="let plant of plants" [value]="plant.value">
                    {{ plant.viewValue }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Shopfloor Name</mat-label>
            <input matInput formControlName="shopfloorName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Primary Contact</mat-label>
            <input matInput formControlName="primaryContact" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput formControlName="address" />
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="10%">
            <button
                fxFlex="45%"
                mat-raised-button
                color="accent"
                [disabled]="addShopfloorForm.invalid"
            >
                ADD SHOPFLOOR
            </button>
            <button
                (click)="cancel()"
                fxFlex="45%"
                mat-raised-button
                color="secondary"
            >
                CANCEL
            </button>
        </div>
    </form>
</div>
