<div
    class="page-layout simple fullwidth p-24"
    fxLayout="row"
    fxLayoutAlign.gt-sm="center start"
>
    <form
        fxLayout="column"
        fxFlex.lt-md="100%"
        fxFlex.gt-sm="500px"
        [formGroup]="addShopfloorForm"
        (ngSubmit)="addNewShopfloor()"
    >
        <mat-form-field appearance="outline" class="m-8">
            <mat-label>Select Plant</mat-label>
            <mat-select name="plant" formControlName="plantName">
                <mat-option *ngFor="let option of plantOptions" [value]="option.id">{{option.plantName}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="m-8">
            <mat-label>Shopfloor Name</mat-label>
            <input matInput formControlName="shopfloorName"/>
        </mat-form-field>

        <mat-form-field appearance="outline" class="m-8">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description"/>
        </mat-form-field>

        
        <button type="submit" mat-raised-button color="primary">Add Shopfloor</button>
    </form>
</div>
